<!DOCTYPE html>
<html lang="en-US">

<!--
TITLE: Simple Web App
AUTHOR: Joshua Ewart
PURPOSE: An example of a simple web app with some functionality using Angular.JS
ORIGINALLY CREATED ON: 06/10/2019
LAST MODIFIED ON: 06/10/2019
LAST MODIFIED BY: Joshua Ewart
-->
<head>
<meta charset="UTF-8">
<title>VideoGame Options</title>
<link rel="styleSheet" type="text/css" href="webAppStyle.css"></link>
<script type = "text/javascript" src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script><!---JQuery Access if Needed-->

<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script><!--Angular Access-->
<script type = "text/javascript" src = "VideoGamewebApp.js"></script><!--javascript File for alterations-->
</head>

<body>
	
	<header>
		<h1>
		Video Games
		</h1>
		<h2>
		View, add, edit, and remove Videogames (and details)
		</h2>
	</header>
		
	<div class = "display" ng-app="">
		<h2>Lookup Game: <input type="text" ng-model="search.Name"></input></h2>
		<br></br>
		
		<div id= "searchResults" class = "display" ng-app="searchDisplay" ngcontroller="gameData"> 
			<!--
			ng-init=
			"Games = [{Name: 'Assassins Creed', Year: '2007'},
			{Name: 'Skyrim', Year: '2011'},
			{Name: 'Warframe', Year: '2013'}]">
			-->
			
			
			<table >
				<tr>
					<td>Name</td>
					<td>Release Year</td>
				</tr>
				<tr ng-repeat="X in Games | filter:search:strict" >
					<td>{{X.Name}}</td>
					<td>{{X.Year}}</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div id = "tasks" class = "display" ng-app="">
		<input type = "radio" name = "options" class = "options" id = "add" onclick = "addForm();">Add Game</input><br></br>
		<input type = "radio" name = "options" class = "options" id = "edit" onclick = "editForm();">edit Game</input><br></br>
		<input type = "radio" name = "options" class = "options" id = "remove" onclick = "deleteForm();">Delete Game</input><br></br>
		
		<div id = "addDIV" class = "display" ng-app="">
			<h2>Add Game:
				<br></br>
				Name: <input type="text" ng-model="GameName">
				Release year: <input type="text" ng-model="GameYear">
				
				<br></br>
				<button id ="addGameButton" type = "submit"> Submit </button>
				<br></br>
			</h2>
		</div>
		
		<div id = "editDIV" class = "display" ng-app="">
			<h2>edit Game:
				<br></br>
				Name: <input type="text" ng-model="GameName">
				Release year: <input type="text" ng-model="GameYear">
				<br></br>
				<button id ="editGameButton" type = "submit"> Submit </button>
				<br></br>
			</h2>
		</div>
		
		<div id = "deleteDIV" class = "display" ng-app="">
			<h2>delete Game:
				<br></br>
				Name: <input type="text" ng-model="GameName">
				Release year: <input type="text" ng-model="GameYear">
				<br></br>
				<button id ="deleteGameButton" type = "submit"> Submit </button>
				<br></br>
			</h2>
		</div>
		
		<div id= "optionDisplay" class = "display" ng-app="TaskDisplay" ng-controller="TaskControl">
			<table>
				<tr ng-repeat="X in Games | searchFor:LookupGame" >
					<td>{{X.Name}}</td>
					<td>{{X.Year}}</td>
				</tr>
			</table>
		</div>
		</div>
	</div>

</body>
</html>